* {box-sizing: border-box;}

body {
    background-image: url("../images/bg-body.png");
}

.maincontainer {
    max-width: 1180px;
    margin: 0 auto;
}

.menu-access {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    flex-wrap: wrap;
}

.logo img {
    border-radius: 50%;
    width: 180px;
    flex-wrap: wrap;
}

.logo {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
}

.barra-de-navegacion ul {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    padding: 0px;
}

.l {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #444;
    align-items: center;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    box-sizing: 180px 50px 180px 50px;
    margin-right: 20px;
    width: 180px;
    height: 50px;
    padding: 0px;
}
.l:last-child {
    margin-right: 0px;
}
.l:first-child {
    margin-left: 0px;
}
.banner img {
    display: flex;
    justify-content: center;
    width: 1180px;
    height: auto;
}

.padre {
    display: flex;
    flex-direction: row;  
}

.articulos {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: 380px;
    margin-top: 30px;
    padding: 0px;
    margin-left: 10px;
    margin-right: 10px;
}
.articulos:first-child{
    margin-left: 0px;
}
.articulos:last-child{
    margin-right: 0px;
}

.articulos img {
    height: fit-content;
    width: 380px;
}

.articulos p {
    font-size:15px;
align-self: start;
}

.articulos h2 {
    font-size: large;
    align-self: start;

}

.articulos h3 {
    background-color: #444;
    padding: 12px;
    justify-content: space-around;
    font-size: medium;
    color:white;
    font-weight: light;
    width: fit-content;
    align-self: start;

}



.pie {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 10px 10px 0 0;
    padding: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: white;
}

